#fondo{
background-image: url(https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_1280.jpg);
background-size: cover;
}

.header{
    background-color: rgb(0, 0, 63);
    padding: 5px;
}
.logo{
    display: flex;
    padding-left: 50px;
}

.header_contenido{
    display: flex;
    align-items: center;
}
@media (max-width: 768px){
    .header_contenido{
       text-align: center;
    }
    .header_contenido-links{
        margin-top: 10px;
    }
    
}

.header a{
    color: white;
    text-decoration: none;
}
.header_contenido-links:hover{
    font-weight: 700;
}